// (lang='en-US', manifest='dronewar1_154.appcache', type='text/cache-manifest')// change to live
doctype html
html
  head
    meta(charset='UTF-8')
    title= title
    link(rel='stylesheet', type='text/css', href='style/wp.css')
    link(rel='stylesheet', type='text/css', href='style/frontend.css')
    link(rel='stylesheet', type='text/css', href='style/frontend-grid.css')
    link(rel='stylesheet', type='text/css', href='style/font-awesome-4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='style/style154.css')
    link#mobilecss(rel='stylesheet', type='text/css', href='')
    link(rel='icon', type='image/png', href='images/favicon.ico')
    link(rel="apple-touch-icon" href="touch-icon-iphone.png")
    link(rel="apple-touch-icon" sizes="152x152" href="touch-icon-ipad.png")
    link(rel="apple-touch-icon" sizes="180x180" href="touch-icon-iphone-retina.png")
    link(rel="apple-touch-icon" sizes="167x167" href="touch-icon-ipad-retina.png")
    meta(name='viewport', content='user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1')
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
    meta(name="description" content="3d space, first person shooter, webgl, threejs, mobile game")
    meta(name="robots" content='3d, space game, first person shooter,  mobile game')
    meta(name="googlebot" content='3d, space game, first person shooter, mobile game')
    // change to live script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-91047098-1', 'auto');
      ga('send', 'pageview');
  body.no-sidebar
    #page.site
      .site-inner
        a.skip-link.screen-reader-text(href='#content') Skip to content
       


        header#masthead.site-header(role='banner')
          .site-header-main
            .site-branding
              p.site-title
                a#titleLink(rel='home') Drone War 1
              p.site-description Javascript experiments a
            // .site-branding
            //button#menu-toggle.menu-toggle Menu
            button#menu-toggle.menu-toggle(aria-expanded="true" aria-controls="site-navigation social-navigation") Menu
            #site-header-menu.site-header-menu
              nav#site-navigation.main-navigation(role='navigation', aria-label='Primary Menu')
                .menu-dw_nav-container
                  ul#menu-dw_nav.primary-menu
                    li
                      #navusr
                    li#dwli.current-menu-item
                      a#dwnav(href='#') Drone War 1
                    li#wali
                      a#wanav(href='#') Web App
                    li#slli
                      a#lnav(href='#') Login/Sign Up
                      a#snav(href='#') Settings
              // .main-navigation
            // .site-header-menu
          // .site-header-main
          .header-image
            a#bannerLink(rel='home')
              img#bannerImg(src='images/websiteImg/cropped-banner-web_1280.jpg', srcset='images/websiteImg/cropped-banner-web_1280-300x70.jpg 300w, images/websiteImg/cropped-banner-web_1280-768x179.jpg 768w, images/websiteImg/cropped-banner-web_1280-1024x238.jpg 1024w, images/websiteImg/cropped-banner-web_1280.jpg 1200w', sizes='(max-width: 709px) 85vw, (max-width: 909px) 81vw, (max-width: 1362px) 88vw, 1200px', width='1200', height='279', alt='siolsite')
          // .header-image



          // .site-header
          include dronewar1.pug
          include webApp.pug
          include settings.pug
          include login.pug
          footer.entry-footer
          // #post-##
          include game_comments.pug
          // .site-main
          include comment.pug
      // .content-area
    // .site-content
    footer#colophon(role='contentinfo')
    include game_content.pug
    include levelChng.pug
    include popup.pug
    input( id='consoleData',type='hidden',value=cd)
    input( id='userdata',type='hidden',value=user)


    //    shaders
    script(type='x-shader/x-vertex', id='laservs')!= laservs
    script(type='x-shader/x-vertex', id='laserfs')!= laserfs
    script(type='x-shader/x-fragment', id='planet1fs')!= planet1fs
    script(type='x-shader/x-vertex', id='planet1vs')!= planet1vs
    script(type='x-shader/x-fragment', id='planetGlowfs')!= planetGlowfs
    script(type='x-shader/x-vertex', id='planetGlowvs')!= planetGlowvs
    script(type='x-shader/x-fragment', id='starfs')!= starfs
    script(type='x-shader/x-vertex', id='starvs')!= starvs
    script(type='x-shader/x-fragment', id='mtrfs')!= mtrfs
    script(type='x-shader/x-vertex', id='mtrvs')!= mtrvs

    // change to live
    script(type='text/Javascript', src='js/defaultpage.js')
    //script(type='text/Javascript', src='js/lib/dat.gui.js')
    //script(type='text/Javascript', src='js_min/defaultpage.js')

    // change to live
    script(src="/reload/reload.js")
    script(src='//localhost:35729/livereload.js')
    //script(src='//192.168.1.92:35729/livereload.js')



      























